<li>
	<h2><%= link_to_external_category(class_category)%></h2>
	
	<% unless params[:class_category_id].blank? %>
	<%= simple_format(sanitize(class_category.head_text, :tags => %w(b strong i em br p a))) %> 

	<!-- These are classes in the category without a sub category -->
	<% unless class_category.library_classes.without_sub_category.visible.empty? %>
	<ul class="no_sub_category_classes_list">
		<% class_category.library_classes.without_sub_category.visible.each do |library_class| %>
		<li>
		<%= link_to sanitize_title(library_class.title), :anchor => library_class.title.parameterize %>
		</li>	
		<% end -%>
	</ul>
	<% end -%>
	
	<!-- These are classes inside sub-categories -->
	<% unless class_category.class_sub_categories.visible.empty? %>
		<ul>
			<!-- Loop through category's sub categories -->
			<% class_category.class_sub_categories.visible.each do |class_sub_category| %>
			<li>
				<h3><%= link_to_if(class_sub_category.url?, class_sub_category.title, class_sub_category.url)%></h3>
				<ul>
					<% class_sub_category.library_classes.visible.each do |library_class|%>
					<li>
						<%= link_to sanitize_title(library_class.title), :anchor => library_class.title.parameterize %>
					</li>
					<% end -%>	
				</ul>
			</li>	
			<% end -%>
		</ul>
	<% end -%>
	


	<%= content_tag(:div, simple_format(sanitize(class_category.foot_text, :tags => %w(b strong i em br p a))), :class => "category_footer") %> 
	<% end %>
</li>
