<div class="page_container">
	<%= render 'errors' %>

	<h1><%= format_text_by_purpose('application_title')%></h1>

	<p><%= format_text_by_purpose('application_head_text')%></p>

	<%= simple_form_for @registration, :url => { :controller => "catalog", :action => :create } do |f| %>
		<div class="classes_container frontend">
			<ul id="toc">
				<% @class_categories.each do |class_category| %>
					<% unless class_category.external? %>
						<%= render :partial => 'catalog/toc', :locals => { :class_category => class_category } %>
					<% else %>
						<%= render :partial => 'catalog/category_toc', :locals => { :class_category => class_category } %>
					<% end %>
				<%	end %>
			</ul>
			<p class="suggest">
				<%= link_to 'Suggest a Class', suggest_path %></a>
			</p>
		</div>

		<div id="full_classes">
		<%= simple_fields_for @registration do |reg| %>
			<% @library_classes.each do |library_class| %>
			 <%= render :partial => 'library_class', :locals => { :library_class => library_class, :reg => reg }%>
			<% end %>
		<% end %>
		</div>
    	
		<div id="form">
			<a name="form"></a>
			<%= format_text_by_purpose('application_form_text', 'class_bottom_text')%>
			<div id="users_form">
				<%= render :partial => 'user', :locals => { :f => f } %>
			</div>
		</div>
		
		<div id="suggest">
			<a name="suggest"></a>
			<%= render :partial => 'new_suggestion' %>
		</div>
    	
		<p>
			<% if @class_category %>
			<input type="hidden" value="<%= @class_category.id %>" name="class_category_id" id="class_category_id" />
			<% end %>
			<%= f.submit "Submit" %>
		</p>
		
	<% end %>

</div>