<div id="application_title">
	<div class="js_hide">
	<%= link_to "Edit title", edit_application_detail_url(format_text_by_purpose('application_title')) %>
	</div>
	<h1><%= icon_tag :edit %><%= best_in_place @application_title, :the_text, :display_with => lambda { |v| v.html_safe } %></h1>
</div>

<div id="application_head_text">
	<div class="js_hide">
	<%= link_to "Edit header", edit_application_detail_url(format_text_by_purpose('application_head_text')) %><br />
	</div>
	<%= icon_tag :edit %><%= best_in_place @application_head_text, :the_text, type: :textarea, :display_with => lambda { |v| v.html_safe } %>
</div>

<br />

<div id="expand_all_div">
<%= check_box_tag 'expand_all', nil, session[:expand_all] %><%= label_tag 'expand_all', "Expand all" %>
</div>

<div id="admin_list_classes" class="classes_container">
	
	<ul class="categories_list">
	<% @class_categories.each do |class_category| %>
		<%= content_tag_for :li, class_category do %>
			<h2><button type="button" class="btn btn-link btn-small collapser" data-toggle="collapse" data-target="#category_<%=class_category.id%>_list"><%=toggle_collapse_icon%></button>
				<%= (class_category.visible?) ? sanitize_title(class_category.title) : content_tag(:span, :class => "muted") { sanitize_title(class_category.title) + " (inactive)" } %></h2>
				<div id="category_<%=class_category.id%>_list" class="collapse <%=collapse_class%>">
					
					<!-- These are classes in the category without a sub category -->
					<ul id="category_<%=class_category.id%>_classes" class="classes_list">
					<% class_category.library_classes.without_sub_category.each do |library_class| %>
						<%= render "library_class", :library_class => library_class %>
					<% end %>
					</ul>
					
					<!-- These are classes inside sub-categories -->
					<ul id="category_<%=class_category.id%>_sub_categories" class="sub_categories_list">
					<% class_category.class_sub_categories.each do |class_sub_category| %>
						<%= render "class_sub_categories", :class_sub_category => class_sub_category %>
					<% end %>
					</ul>
					
				</div>
			<% end %>
		<% end %>
	</ul>
</div>

<br />

<div id="application_form_text">
	<div class="js_hide">
	<%= link_to "Edit footer", edit_application_detail_url(format_text_by_purpose('application_form_text')) %>
	</div>
	<div><%= icon_tag :edit %><%= best_in_place @application_form_text, :the_text, type: :textarea, :display_with => lambda { |v| v.html_safe } %></div>
</div>

<br />

<%= icon_tag :add %> <%= link_to 'New class', new_library_class_path %> 

